@{
    ViewData["Title"] = "Vehicle Inspection";
}

<style>

    .container {
        width: 100%;
        max-width: 800px;
        padding: 20px;
    }

        .container h2 {
            margin-bottom: 20px;
        }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    .btnNext {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .btnNext {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

        .btnNext:hover {
            background-color: #0056b3;
        }

    @@media (min-width: 768px) {
        .container {
            width: 70%;
        }
    }

</style>
<div class="container mt-3">
    <div class="row text-center">
        <h5>Digital <strong>‘Vehicle Inspection’</strong> is scheduled on your vehicle</h5>
        <h5>Please update the following details:</h5>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="row">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label"><b>ODOMETER</b></label>
                <div class="col-sm-8">
                    <input type="number" id="inpOdoMeter" class="form-control shadow-sm"/>
                </div>
            </div>
            @* <div class="form-group row">
                <label class="col-sm-4 col-form-label"><b>CHASSIS NO.</b></label>
                <div class="col-sm-8">
                    <input type="text" id="inpChassisNo" class="form-control shadow-sm" value="@ViewData["ChassisNumber"]" placeholder="Last 6 digits" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label"><b>ENGINE NO.</b></label>
                <div class="col-sm-8">
                    <input type="text" id="inpEngineNo" class="form-control shadow-sm" value="@ViewData["EngineNumber"]" placeholder="Last 6 digits" />
                </div>
            </div> *@
        </div>
    </div>

    <div class="row justify-content-center mt-3" style="margin-right:20px;">
        <div class="row">
            <div class="d-flex justify-content-between">
                <a id="btnBack" asp-action="PhoneNumbers" asp-controller="Home" class="btn btn-secondary m-2 shadow-sm" style="width:250px; height:40px;"><b>Back</b></a>
                <button id="btnSubmitVehiInspNext" class="btn btn-primary m-2 shadow-sm" style="width:250px; height:40px;">
                    <b>Submit</b>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title d-flex justify-content-center align-items-center" id="exampleModalLabel">INSTRUCTIONS</h5>
                <button id="btnmodelPopUp" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li> Please park your vehicle in an open area with at least 12-14 feet of free space around it.</li>
                    <li> You will be required to take picture of customer Vehicle Registration Certificate, while holding the camera in the (Horizontal Mode) above document.</li>
                    <li> And also vehicle images as appears in the Title as well as impacted part images while loading the camera in the landscape mode.</li>
                    <li>Please follow instructions that appear on the right hand side of the screen before clicking any picture.</li>

                </ul>
            </div>
            <div class="modal-footer">
                <button id="btnSubmitVehiInsp" class="btn btn-primary m-2 shadow-sm" style="width:150px; height:40px;">
                    <b>Next</b>
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#btnSubmitVehiInsp').click(function () {
            var odoMeterReading = $('#inpOdoMeter').val();
            var chassisNo = $('#inpChassisNo').val();
            var engineNo = $('#inpEngineNo').val();

            if (odoMeterReading == "") {
                toastr.options.positionClass = 'toast-bottom-right';
                toastr.warning("Please enter the required data..!");
            }
            else {
                $.ajax({
                    type:'POST',
                    url: '@Url.Action("VehicleInspection", "Home")',
                    data: { odoMetRead: odoMeterReading},
                    dataType:'json',
                    success:function(response){
                        if (response.success == true) {
                            localStorage.clear();
                            window.location.href = "@Url.Action("UploadLeftSide90", "Upload")";
                        }
                        else{
                            toastr.options.positionClass = 'toast-bottom-right';
                            toastr.error(response.message);
                        }
                    }
                });
            }
        });

        $('#btnSubmitVehiInspNext').click(function () {
            $('#disclaimerModal').modal('show');
        });

        $('#btnmodelPopUp').click(function () {
            $('#disclaimerModal').modal('hide');
        });
    </script>

}


